<% if @park.errors.any? %>
  <div class="error_explanation">
    <h2>There were some errors:</h2>
    <% @park.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>


<h1>Add a new park!</h1>
<div class="new-form-left">
<%= form_for(@park) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br /><br />
  <%= f.label :location %>
  <%= f.text_field :location %><br /><br />
  <%= f.label :hound %>
  <%= f.select :hound, raw("<option>Doggo</option><option>Pupper</option><option>All</option>") %><br /><br />
  <%= f.label :description %>
  <%= f.text_area :description %><br /><br />
  <%= f.submit "Add a new Park"%>
<% end %>
</div>