<h1><%= @park.name %></h1>
<h3>Location of Park: <u><%= @park.location %></u><br>
Types of Dogs that are allowed: <u><%= @park.hound %></u><br>
Description of Park: <u><%= @park.description %></u></h3>

<% if @park.playdates.size > 0 %>
  <h3>PLAYDATES FOR THIS PARK:</h3>
  <table>
    <th>Date</th>
    <th>Time</th>
    <th>Playdate Host</th>
    <th>Host's Family Size</th>
  <% @park.playdates.each do |playdate| %>
    <tr>
      <td><%= link_to "#{playdate.date.strftime("%F")}", park_playdate_path(playdate)%></td> 
      <td><%= playdate.time.strftime("%r") %> </td>
      <td><%= playdate.user.username %></td>
      <td><%= playdate.user.family_size %></td>
    </tr>
  <% end %>
  </table>
  <br>
  Don't see a Playdate that works??
  <%= link_to "Add a New Play Date!", new_park_playdate_path(@park) %>
<% else %>
  <h3>No Playdates have been created!</h3>
  <%= link_to "Add a New Play Date!", new_park_playdate_path(@park) %>
<% end %>


<%if @park.comments.size > 0 %>
<br><br>
<h3>Comments about this park:</h3>
<table>
  <th>User</th>
  <th>Date Created</th>
  <th>Comment</th>
  <% @park.comments.each do |comment|%>
    <tr>
      <td><% @users.each do |user| %>
        <% if comment.user_id == user.id%>
          <%= user.username %>
        <% end %>
      <% end %>
      </td>
      <td><%= comment.created_at.strftime("%F %r") %></td>
      <td><%= comment.comment %></td>
    </tr>
  <% end %>
</table>
<% end %>

  <div class="comment-container">
  <h3>leave a comment here</h3><!-- >
    <form id="comment-form" action="/parks/:park_id/comment" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Ri8Y6cuZ4FuEu/Fqn7WdLzg8DEHjMjF1FL8l1oC1pFH9av/86CKT9msoLWQshv2cjD65QNgcuR7UAgsPpf1x3Q==">
        <input type="text" name="comment" id="comment" value="">
        <input type="hidden" name="group_id" id="group_id" value="1">
        <input type="hidden" name="user_id" id="user_id" value="1">
        <input type="submit" name="commit" value="comment" id="submit-comment">
    </form> -->
        <%= form_tag "/parks/:park_id/comments", :id => 'comment-form', :method => :post do %>
          <%= text_field_tag "comment" %>
          <%= hidden_field_tag :playdate_id, @playdate.id %>
          <%#= hidden_field_tag :user_id, @user.id %>
          <%= submit_tag "comment", :id => "submit-comment"%>
        <% end %>
</div>



<br><br>
<p>Take a look at all of Austin's Dog Parks!</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d220447.15412412822!2d-97.72612725981391!3d30.30866885137352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdog%20parks%20near%20Austin%2C%20TX!5e0!3m2!1sen!2sus!4v1595953926567!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


