<h3 style="color:red"><%= flash[:message] %></h3>

<h1><%= @park.name %></h1>
<%= render 'park_average_reviews'%>
<%= image_tag 'firehydrant.jpg' %>

<h2>Location of Park: <u><%= @park.location %></u><br>
Dogs that are allowed: <u><%= @park.hound %></u><br>
Park Description: <u><%= @park.description %></u></h2>

<%= render 'park_playdates_table'%>
<br><br>
<%= render 'park_reviews' %>

<br>
<p>Take a look at Austin's Dog Parks!</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d220447.15412412822!2d-97.72612725981391!3d30.30866885137352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdog%20parks%20near%20Austin%2C%20TX!5e0!3m2!1sen!2sus!4v1595953926567!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>