<h3 style="color:red"><%= flash[:message] %></h3>

<h1><%= @park.name %></h1>
<%= image_tag 'firehydrant.jpg' %>

<h2>Location of Park: <u><%= @park.location %></u><br>
Types of Dogs that are allowed: <u><%= @park.hound %></u><br>
Description of Park: <u><%= @park.description %></u></h2>

<div class="parks-show-table">
<% if @park.playdates.size > 0 %>
  <h3>PLAYDATES FOR THIS PARK:</h3>
  <table>
    <th>Date</th>
    <th>Time</th>
    <th>Playdate Host</th>
    <th>Host's Family Size</th>
  <%# future_dates = current_date(@park.playdates) %>
  <%# sorted = sort_by_date(future_dates) %>
  <%# sorted.each do |playdate| %>
  <% @park.playdates.each do |playdate|%>
    <tr>
      <td><%= link_to "#{playdate.date.strftime("%B %d, %Y")}", park_playdate_path(@park) %></td> 
      <td><%= playdate.time.strftime("%I:%M %P") %> </td>
      <td><%= playdate.user.username %></td>
      <td><%= playdate.user.family_size %></td>
    </tr>
  <% end %>
  </table>
  </div>
  <br>
  Don't see a Playdate that works??
  <%= link_to "Add a New Play Date!", new_park_playdate_path(@park) %>
<% else %>
  <h3>No Playdates have been created!</h3>
  <%= link_to "Add a New Play Date!", new_park_playdate_path(@park) %>
<% end %>

<br><br>
<h3>Comments about this park:</h3>
<%if @park.comments.size > 0 %>
<table>
  <th>User</th>
  <th>Date Created</th>
  <th>Comment</th>
  <% @park.comments.each do |comment|%>
    <tr>
      <td><% @users.each do |user| %>
        <% if comment.user_id == user.id%>
          <%= user.username %>
        <% end %>
      <% end %>
      </td>
      <td><%= comment.created_at.strftime("%B %d, %Y %I:%M %P") %></td>
      <td><%= comment.comment %></td>
    </tr>
  <% end %>
</table>
<% end %>

  <h4><%= link_to "Leave a comment about the park here", new_park_comment_path(@park) %> </h4>
  








<br><br>
<!--<p>Take a look at all of Austin's Dog Parks!</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d220447.15412412822!2d-97.72612725981391!3d30.30866885137352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdog%20parks%20near%20Austin%2C%20TX!5e0!3m2!1sen!2sus!4v1595953926567!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
-->




