<% if @playdate.errors.any? %>
  <div class="error_explanation">
    <h2>There were some errors:</h2>
    <% @playdate.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<%= form_for ([@park, @playdate]) do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %><br><br>
    <%= f.label :time %>
    <%= f.time_field :time %><br><br>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :park_id, value: @park.id%>
    <%= f.submit "Add Playdate!" %>
<% end %>