<h1>Add a New Playdate!</h1>
<div class="new-form-left">
<%= form_for @playdate do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %><br><br>
    <%= f.label :time %>
    <%= f.time_field :time %><br><br>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :park_id, @park.id%>


    <%= f.submit "Add Playdate!" %>
<% end %>
</div>


