<h1><%= @user.username.pluralize %> playdate details </h1> 

<h2>Park: <%= @park.name %></h2>
<h2>Date: <%= @playdate.date.strftime("%B %d, %Y") %></h2>
<h2>Time: <%= @playdate.time.strftime("%I:%M %P") %></h2>

<%= link_to "Edit this Playdate", edit_playdate_path(@playdate) %>
