<h3 style="color:red"><%= flash[:message] %></h3>


<h1><%= @user %>'s Playdate details </h1> 
<%= image_tag 'groupofdogs.jpg' %>
<h2>Park: <%= link_to "#{@playdate.park.name}", park_path(@playdate.park) %></h2>
<h2>Date: <%= @playdate.date.strftime("%B %d, %Y") %></h2>
<h2>Time: <%= @playdate.time.strftime("%I:%M %P") %></h2>
<% if current_user.id == @playdate.user_id %>
<%= link_to "Edit this Playdate", edit_park_playdate_path(@playdate) %><br><br>
<% end %>

<i>Click on the above park name to go back to <%= @playdate.park.name %></i>

