<% @park.playdates.each do |playdate| %>

    <% if playdate.park_id == params[:id] %>
        <h1>Date of Playdate: <%= playdate.date.strftime("%F") %></h1>
        <h1>Time of Playdate: <%= playdate.time.strftime("%r") %></h1>
        <h3>Creator of this Playdate: <%= @user.username %>, with a family size of: <%= @user.family_size %> </h3>
    <% end %>
<% end %>



<h3>Comments for this Playdate:</h3>
<table>
    <th>User</th>
    <th>Comment</th>

<% @playdate.comments.each do |comment| %>
    <% if @playdate.id == comment.playdate_id %>
      <tr>
        <td>
          <% @users.each do |user|%>
            <% if user.id == comment.user_id%>
              <%= user.username %>
            <% end %>
          <% end %>
        </td>
        <td><%= comment.comment %></td>
      </tr>
    <% end %>
<% end %>
</table>


  <div class="comment-container">
  <h3>leave a comment here</h3><!-- >
    <form id="comment-form" action="/parks/:park_id/comment" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Ri8Y6cuZ4FuEu/Fqn7WdLzg8DEHjMjF1FL8l1oC1pFH9av/86CKT9msoLWQshv2cjD65QNgcuR7UAgsPpf1x3Q==">
        <input type="text" name="comment" id="comment" value="">
        <input type="hidden" name="group_id" id="group_id" value="1">
        <input type="hidden" name="user_id" id="user_id" value="1">
        <input type="submit" name="commit" value="comment" id="submit-comment">
    </form> -->
        <%= form_tag "/parks/:park_id/comments", :id => 'comment-form', :method => :post do %>
          <%= text_field_tag "comment" %>
          <%= hidden_field_tag :playdate_id, @playdate.id %>
          <%#= hidden_field_tag :user_id, @user.id %>
          <%= submit_tag "comment", :id => "submit-comment"%>
        <% end %>
</div>
