<% @park.playdates.each do |playdate| %>

    <% if playdate.park_id == params[:id] %>
        <h1>Date of Playdate: <%= playdate.date.strftime("%F") %></h1>
        <h1>Time of Playdate: <%= playdate.time.strftime("%r") %></h1>
        <h3>Creator of this Playdate: <%= @user.username %>, with a family size of: <%= @user.family_size %> </h3>
    <% end %>
<% end %>



<h3>Comments for this Playdate:</h3>
<table>
    <th>User</th>
    <th>Comment</th>

<% @playdate.comments.each do |comment| %>
    <% if @playdate.id == comment.playdate_id %>
      <tr>
        <td>
          <% @users.each do |user|%>
            <% if user.id == comment.user_id%>
              <%= user.username %>
            <% end %>
          <% end %>
        </td>
        <td><%= comment.comment %></td>
      </tr>
    <% end %>
<% end %>
</table>



