<h1>Sign up</h1>


<%= form_for(@user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br><br>
    <%= f.label :family_size %>
    <%= f.number_field :family_size %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Sign Up"%>
<% end %>