<h1>Welcome, <%= @user.username %>!</h1>

<h3>Your Created Doggo Playdates: </h3>
<table>
  <th>Location</th>
  <th>Date</th>
  <th>Time</th>
  <% sorted = sort_by_date @user.playdates %>
<% sorted.each do |playdate| %>
    <tr>
      <td><%= link_to "#{playdate.park.name}", park_playdate_path(playdate) %></td>
      <td><%= playdate.date.strftime("%B %d, %Y") %></td>   
      <td><%= playdate.time.strftime("%I:%M %P") %></td>
    </tr>
<% end %>
</table>
<br><br>
<%= link_to "See Parks to set up more Doggo Playdates!", parks_path %>

