<h1>Welcome, <%= @user.username %>!</h1>

<h3>Your Created Doggo Playdates: </h3>
<table>
  <th>Location</th>
  <th>Date</th>
  <th>Time</th>
<% @user.playdates.each do |playdate| %>
    <tr>
      <td><%= link_to "#{playdate.park.name}", park_path(playdate.park) %></td>
      <td><%= playdate.date.strftime("%F") %></td>   
      <td><%= playdate.time.strftime("%r") %></td>
    </tr>
<% end %>
</table>
<br><br>
<%= link_to "See Parks to set up more Doggo Playdates!", parks_path %>
