<!DOCTYPE html>
<html>
  <head>
    <title>DoggoPlayDate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="nav">
    <ul>
      <li><a class="navbar" href="<%= root_url %>">Home</a></li>
      <% if !current_user %>
        <li><a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a></li>
        <li><%= link_to "Log in", signin_path, class:"navbar-brand" %></li>
        <% end %>
      <% if current_user %>
        <li><%= link_to "#{current_user.username}'s profile", user_path(current_user), class:"navbar-brand"%></li>
        <li>  <%#= link_to "Log Out", session_path, class:"navbar-brand",method:'delete' %></li>
      <% end %>
  </div>

    <div class="container" role="main">
    <div style="width:50%;">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
